{% extends 'base.html.twig' %}


{% block title %}Modifier un Article{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier l'Article "{{ article.title }}"</h1>
        {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {{ form_row(form.image) }}
            <button type="submit" class="btn btn-primary">Sauvegarder</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
