{% extends 'base.html.twig' %}

{% block title %}Ajouter un Article{% endblock %}


{% block body %}

<header>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        
    <nav>
        <ul>
            <li><a href="{{ path('app_blog') }}">BLOG</a></li>
            <li><a href="{{ path('app_contact') }}">CONTACT</a></li>
            <li><a href="{{ path('app_home') }}">ACCUEIL</a></li>
            <li id="logo"> <img src="{{ asset('images/logo.jpg') }}"  style="height: 50px;"> </li>
            
            {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('app_admin_dashboard') }}">ADMIN</a></li>
            {% endif %}

            {% if not app.user %}
            <li><a href="{{ path('app_login') }}">CONNEXION</a></li>
             {% else %}
            <li><a href="{{ path('app_logout') }}">DECONNEXION</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

    <div class="container">
        <h1>Ajouter un Nouvel Article</h1>
        {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {{ form_row(form.image) }}
            
        {{ form_end(form) }}
    </div>
{% endblock %}
